
Skip to content
Pull requests
Issues
Marketplace
Explore
@MaximilianLincks
MaximilianLincks /
ExpenseTracker
Public

Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights

    Settings

ExpenseTracker/.gitignore
mli Initialize project using Create React App
Latest commit f95a332 2 days ago
History
0 contributors
23 lines (18 sloc) 310 Bytes
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Footer
© 2022 GitHub, Inc.
Footer navigation

    Terms
    Privacy
    Security
    Status
    Docs
    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

